body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
  }

  /* Apply styles to the welcome message */
h2 {
    text-align: center;
    margin-top: 50px; /* Adjust margin as needed */
}

/* Apply styles to the browse items button */
h5 {
    text-align: center;
}

button {
    width:100px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Apply styles to the upload button */
.buttonupload {
    text-align: center;
    margin-top: 20px; /* Adjust margin as needed */
}
.logo {
    width: 70px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add margin to separate logo from other elements */
}

/* Apply styles to the footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    padding: 0 15px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
      padding: 10px 0;
    }
  
    .burger {
      display: flex;
    }
  }
